<header>
  <h1>Testing Native Select Elements in Ember.js</h1>
</header>
<main>
  <form action="">
    <SelectElement />
    <div class="form-group">
      <label for="input-extra">Extra Input for Keyboard Navigation Purposes</label>
      <input type="text" id="input-extra" />
    </div>
  </form>
</main>
<footer>
  <p><a href="https://github.com/MelSumner/test-ember-select">GitHub Repo: test-ember-select</a></p>
  {{app-version}}
</footer>